.quick-odds {
  background-color: #000;
  width: 100%;
  min-height: 90px;
  display: flex;
}
.sport-select {
  background-color: #000;
  width: 100px;
}
.sport-select form {
  margin: 20px 10px;
}
.set-nav {
  width: 50px;
}
.slider-section {
  background-color: #000;
  width: calc(100% - 100px);
}
.slider-section li {
  width: 140px;
  height: 84px;
  display: flex;
  flex-direction: column;
}
.game {
  height: 84px;
  border: 5px solid #000;
}
.timeslot {
  width: 100%;
  background-color: #181b1d;
  color: #fff;
  font-size: 11px;
  padding: 2px 5px;
  border-bottom: 2px solid #000;
}
.team-column {
  display: block;
  background-color: #121314;
  color: #fff;
  min-width: 44px;
  padding: 2px;
  text-align: left;
  font-size: 14px;
}
.spread-column {
  display: block;
  background-color: #121314;
  color: #00a305;
  text-align: right;
  font-size: 14px;
  min-width: 48px;
  padding: 2px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}
.totals-column {
  display: block;
  background-color: #121314;
  color: #fff;
  text-align: right;
  font-size: 14px;
  min-width: 38px;
  padding: 0px 2px;
  height: 40px;
  line-height: 40px;
}
.date-display {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  border-top: 3px solid #000;
}
.uk-icon.bg-grad {
  background-color: rgba(24, 27, 29, 0.8);
  color: #fff;
  border-radius: 6px;
}
.uk-slider-items .odds-header-spinner {
  padding-top: 30px;
  padding-left: 30px;
}

.odds-game-bet-now {
  margin-left: 12px;
}

.odds-game-bet-now a {
  border-radius: 2px !important;
  color: #666 im !important;
}

[data-card='betting-odds'] tbody td img.dk {
  width: 25px;
  max-width: 25px;
  height: 25px;
  max-height: 25px;
  padding-right: 0;
}

.footer-social-icon {
  width: 50px !important;
  height: 50px !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: #111 !important;
}
